body {
    background-color: #19181B;
    color: #EAE6FC;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

span {
    white-space:nowrap;
}

.main-wrap {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    margin-top: 200px;
}

.main {
    text-align: center;
}

.buy-button {
    position: relative;
    left: -50%;
    background-color: #818055;
    border: 2px solid black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.buy-button-absolute {
    position: absolute;
    left: 50%;
    top: 20px;
}

.f18 {
    font-size: 18px;
}

.f22 {
    font-size: 22px;
}

.bet-button {
    background-color: #979308;
    border: 2px solid black;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin-top: 40px;
}

.info {
    font-size: 30px;
}


@media only screen and (max-width: 800px) {
    .f18 { font-size: 16px; }
    .f22 { font-size: 20px; }
    .info { font-size: 27px; }
    .main-wrap { width: 354px; margin-left: -177px; }
}

@media only screen and (max-width: 600px) {
    .f18 { font-size: 14px; }
    .f22 { font-size: 18px; }
    .info { font-size: 24px; }
    .main-wrap { width: 316px; margin-left: -158px; }
}
